<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.css" type="text/css" />
		<link rel="stylesheet" href="../../assets/css/style.css" type="text/css" />
		<title>Eat-Da-Burger!</title>
	</head>
	<body>
		<section>
			<div>
				<div class="container header has-text-centered">
					<img src="../../assets/img/burger1.png">
					<h1>Eat-Da-Burger!</h1>
					<hr>
					
					
				</div>
			</div>
		</section>
		
		{{{ body }}}
		
	</body>
</html>